.Form button{
    display: inline-block;
}
.Form h5{
    display: inline-block;
    margin-right: 15px;
}
.Form p{
    display: inline-block;
    margin-right: 15px;
}
.Okay{
    font-size: 15px;
    padding: 1px 6px;
    background: #ffec04;
    border: 1px solid;
    margin-right: 15px;
}
.Okay:hover{
    background: #ff911b;
}
.Del{

}